In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('noncampusarrest111213.xls')

In [3]:
df.head()

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,LIQUOR11,WEAPON12,DRUG12,LIQUOR12,WEAPON13,DRUG13,LIQUOR13,FILTER11,FILTER12,FILTER13
0,100654001,Alabama A & M University,Main Campus,4900 MERIDIAN ST,NORMAL,AL,35762,1,"Public, 4-year or above",2268,...,NaN,0,0,0,0,0,0,1,1,1
1,100663001,University of Alabama at Birmingham,Main Campus,"ADMINISTRATION BLDG SUITE 1070, 701 20th Stree...",BIRMINGHAM,AL,352940110,1,"Public, 4-year or above",7309,...,0,NaN,NaN,NaN,0,0,0,1,1,1
2,100663002,University of Alabama at Birmingham,Huntsville Regional Medical Campus,301 Governors Drive SW,Huntsville,AL,35801,1,"Public, 4-year or above",7309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1
3,100690001,Amridge University,Main Campus,1200 TAYLOR RD,MONTGOMERY,AL,361173553,2,"Private nonprofit, 4-year or above",264,...,0,0,0,0,0,0,0,1,1,1
4,100706001,University of Alabama in Huntsville,Main Campus,301 SPARKMAN DR,HUNTSVILLE,AL,35899,1,"Public, 4-year or above",4136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1

In [4]:
print df.columns

Index([   u'UNITID_P',      u'INSTNM',      u'BRANCH',     u'Address',
              u'City',       u'State',         u'ZIP',   u'sector_cd',
       u'Sector_desc',   u'men_total', u'women_total',       u'Total',
          u'WEAPON11',      u'DRUG11',    u'LIQUOR11',    u'WEAPON12',
            u'DRUG12',    u'LIQUOR12',    u'WEAPON13',      u'DRUG13',
          u'LIQUOR13',    u'FILTER11',    u'FILTER12',    u'FILTER13'],
      dtype='object')

In [5]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.sum()

UNITID_P      2895836420650.000
sector_cd             46794.000
men_total          29633644.000
women_total        36930211.000
Total              66563855.000
WEAPON11                123.000
DRUG11                 1256.000
LIQUOR11               1579.000
WEAPON12                140.000
DRUG12                 1364.000
LIQUOR12               1604.000
WEAPON13                137.000
DRUG13                 1444.000
LIQUOR13               1535.000
FILTER11              10057.000
FILTER12              10728.000
FILTER13              11229.000
dtype: float64

In [6]:
crime_tables = ['noncampusarrest111213.xls',
 'noncampuscrime111213.xls',
 'noncampusdiscipline111213.xls',
 'noncampushate111213.xlsx',
 'oncampusarrest111213.xls',
 'oncampuscrime111213.xls',
 'oncampusdiscipline111213.xls',
 'oncampushate111213.xlsx',
 'publicpropertyarrest111213.xls',
 'publicpropertycrime111213.xls',
 'publicpropertydiscipline111213.xls',
 'publicpropertyhate111213.xlsx',
 'reportedarrest111213.xls',
 'reportedcrime111213.xls',
 'reporteddiscipline111213.xls',
 'reportedhate111213.xlsx',
 'residencehallarrest111213.xls',
 'residencehallcrime111213.xls',
 'residencehalldiscipline111213.xls',
 'residencehallfire11.xls',
 'residencehallfire12.xls',
 'residencehallfire13.xls',
 'residencehallhate111213.xlsx']

In [49]:
df_list = []
for file_ in crime_tables:
    df = pd.read_excel(file_)
    df_list.append(df)

In [51]:
import pickle

#with open('df_list_all.pk1', 'w') as picklefile:
    pickle.dump(df_list, picklefile)

In [3]:
import pickle

with open('df_list_all.pk1', 'r') as picklefile:
    df_list = pickle.load(picklefile)

In [31]:
for i in range(0,20):
    print i, df_list[0].iloc[:,0:12].columns.equals(df_list[i].iloc[:,0:12].columns)

0 True
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True
11 True
12 True
13 True
14 True
15 True
16 True
17 True
18 True
19 False

In [44]:
first_cols = list(df_list[0].columns[0:12])

In [53]:
print len(first_cols)

12

In [62]:
for i in range(0,12):
    df_list[0].rename(columns= {df_list[0].columns[i]: first_cols[i]})

In [70]:
def change_cols(df):
    for i in range(0,12):
        df.rename(columns= {df.columns[i]: first_cols[i]}, inplace=True)
        return df

In [71]:
df_list_ncols = []
for i in range(0,19):
    df = change_cols(df_list[i])
    df_list_ncols.append(df)a

print df_list_ncols[4]

        UNITID_P                                             INSTNM  \
0      100654001                           Alabama A & M University
1      100663001                University of Alabama at Birmingham
2      100663002                University of Alabama at Birmingham
3      100690001                                 Amridge University
4      100706001                University of Alabama in Huntsville
5      100724001                           Alabama State University
6      100751001                          The University of Alabama
7      100751002                          The University of Alabama
8      100760001                  Central Alabama Community College
9      100760002                  Central Alabama Community College
10     100760003                  Central Alabama Community College
11     100812001                            Athens State University
12     100830001                    Auburn University at Montgomery
13     100858001                                  Auburn University
14     100937001                        Birmingham Southern College
15     101028001             Chattahoochee Valley Community College
16     101073001                          Concordia College Alabama
17     101116001                        South University-Montgomery
18     101143001                 Enterprise State Community College
19     101143002                 Enterprise State Community College
20     101143003                 Enterprise State Community College
21     101161001           James H Faulkner State Community College
22     101189001                                Faulkner University
23     101189002                                Faulkner University
24     101189003                                Faulkner University
25     101189004                                Faulkner University
26     101240001                    Gadsden State Community College
27     101277001               New Beginning College of Cosmetology
28     101286001    George C Wallace State Community College-Dothan
29     101286004    George C Wallace State Community College-Dothan
...          ...                                                ...
11199  482680002                        University of North Georgia
11200  482680003                        University of North Georgia
11201  482680004                        University of North Georgia
11202  482699001                        South Georgia State College
11203  482699002                        South Georgia State College
11204  482918001                              Vista College-Killeen
11205  482954001              Brown Mackie College-Dallas/Ft. Worth
11206  483036001               Texas A & M University-Central Texas
11207  483045001                  Central Georgia Technical College
11208  483045002                  Central Georgia Technical College
11209  483045003                  Central Georgia Technical College
11210  483045004                  Central Georgia Technical College
11211  483045005                  Central Georgia Technical College
11212  483045006                  Central Georgia Technical College
11213  483045007                  Central Georgia Technical College
11214  483045008                  Central Georgia Technical College
11215  483212001                  Louisiana Delta Community College
11216  483212002                  Louisiana Delta Community College
11217  483212003                  Louisiana Delta Community College
11218  483212004                  Louisiana Delta Community College
11219  483212005                  Louisiana Delta Community College
11220  483212006                  Louisiana Delta Community College
11221  483212007                  Louisiana Delta Community College
11222  483212008                  Louisiana Delta Community College
11223  483489001                          Ponce Paramedical College
11224  484604001               Ogle School Hair Skin Nails-Stafford
11225  484835001    Centro de Estudios Multidisciplinarios-Mayaguez
11226  485087001            Regency Beauty Institute - Gaithersburg
11227  485379001  Hollywood Institute of Beauty Careers - West P...
11228  485388001  Hollywood Institute of Beauty Careers - Cassel...

                                                  BRANCH  \
0                                            Main Campus
1                                            Main Campus
2                     Huntsville Regional Medical Campus
3                                            Main Campus
4                                            Main Campus
5                                            Main Campus
6                                            Main Campus
7                   University of Alabama Gadsden Center
8                                  Alexander City Campus
9                                    Childersburg Campus
10                                      Talladega Campus
11                   Athens State University Main Campus
12                          Auburn University Montgomery
13                                           Main Campus
14                           Birmingham-Southern College
15                                           Main Campus
16                                           Main Campus
17                         South University - Montgomery
18                                           Main Campus
19                       Alabama Aviation Center - Ozark
20                      Alabama Aviation Center - Mobile
21                                           Main Campus
22                                           Main Campus
23                        FAULKNER UNIVERSITY-BIRMINGHAM
24                        FAULKNER UNIVERSITY-HUNTSVILLE
25                            FAULKNER UNIVERSITY-MOBILE
26                       Gadsden State Community College
27                                           Main Campus
28                                        Wallace Campus
29                                         Sparks Campus
...                                                  ...
11199                                 Gainesville Campus
11200                                      Oconee Campus
11201                                     Cumming Campus
11202                                        Main Campus
11203  Waycross College (NOW South Georgia State Coll...
11204                                            Killeen
11205                                        Main Campus
11206                                        Main Campus
11207                                        Main Campus
11208                                 Corder Road Campus
11209        Sam Way Senior Workforce Development Center
11210                                       Macon Campus
11211                      Crawford County Center Campus
11212                        Putnam County Center Campus
11213                               Milledgeville Campus
11214                               Monroe County Center
11215                  Louisiana Delta Community College
11216                                    Tallulah Campus
11217                             Lake Providence Campus
11218                                   Northeast Campus
11219                                     Bastrop Campus
11220                                      Ruston Campus
11221                               North Central Campus
11222                            LDCC West Monroe Campus
11223                                        Main Campus
11224             Ogle School Hair Skin Nails - Stafford
11225  Centro de Estudios Multidisciplinarios - Mayaguez
11226                           Regency Beauty Institute
11227              Hollywood Institute of Beauty Careers
11228              Hollywood Institute of Beauty Careers

                                                 Address               City  \
0                                       4900 MERIDIAN ST             NORMAL
1      ADMINISTRATION BLDG SUITE 1070, 701 20th Stree...         BIRMINGHAM
2                                 301 Governors Drive SW         Huntsville
3                                         1200 TAYLOR RD         MONTGOMERY
4                                        301 SPARKMAN DR         HUNTSVILLE
5                                   915 SOUTH JACKSON ST         MONTGOMERY
6                                       1110 Jackson Ave         TUSCALOOSA
7                                          P.O. Box 1280            Gadsden
8                                       1675 Cherokee Rd     Alexander City
9                                      34091 Highway 280       Childersburg
10                                1009 South Street East          Talladega
11                                        300 N BEATY ST             ATHENS
12                                       7400 EAST DRIVE         MONTGOMERY
13                                      107 Samford Hall  AUBURN UNIVERSITY
14                                  900 Arkadelphia Road         Birmingham
15                                       2602 COLLEGE DR        PHENIX CITY
16                                     1712 Broad Street              SELMA
17                                      5355 Vaughn Road         MONTGOMERY
18                                          600 PLAZA DR         ENTERPRISE
19                                3405 Highway 231 South              Ozark
20                                         1975 Avenue C             Mobile
21                                      1900 US HWY 31 S        Bay Minette
22                                      5345 ATLANTA HWY         MONTGOMERY
23                                2200 RIVERCHASE CENTER         BIRMINGHAM
24                                           420 WYNN DR         HUNTSVILLE
25                                3943 Airport Boulevard             MOBILE
26                                            PO Box 227            GADSDEN
27                                       421 Martling Rd        Albertville
28                                    1141 Wallace Drive             DOTHAN
29                               3235 South Eufaula Ave.            Eufaula
...                                                  ...                ...
11199                                 3820 MUNDY MILL RD            OAKWOOD
11200                           1201 Bishop Farm Parkway       Watkinsville
11201                                 300 Aquatic Circle            Cumming
11202                                100 W COLLEGE PK DR            DOUGLAS
11203                                 2001 S GEORGIA PKY           WAYCROSS
11204                                1001 S Fort Hood St            Killeen
11205                               2200 Hwy 121 Ste 270            Bedford
11206                              1001 Leadership Place            Killeen
11207                                 80 COHEN WALKER DR      WARNER ROBINS
11208                                   1311 Corder Road      Warner Robins
11209                          243 Warner Robins Highway       Hawkinsville
11210                                 3300 MACON TECH DR              MACON
11211                            640 Georgia Highway 128            Roberta
11212                          580 James Marshall Bypass           Eatonton
11213                                   54 Highway 22 W.      Milledgeville
11214                                  433 Highway 41 S.            Forsyth
11215                                7500 Millhaven Road             Monroe
11216                           132 Old Highway 65 South           Tallulah
11217                                  156 Highway 883-1    Lake Providence
11218                                 1710 Warren Street          Winnsboro
11219                                 729 Kammell Street            Bastrop
11220                                  1010 James Street             Ruston
11221                                  605 West Boundary        Farmerville
11222                               609 Vocational Pkwy.        West Monroe
11223              1213 Acacia Street, Villa Flores Urb.              Ponce
11224                         12788 Fountain Lake Circle           Stafford
11225                                   Calle Cristy #56           Mayaguez
11226                                 18226 Contour Road       Gaithersburg
11227                      7587-7599 South Dixie Highway    West Palm Beach
11228                             1271 Semoran Boulevard        Casselberry

      State        ZIP  sector_cd                           Sector_desc  \
0        AL      35762          1               Public, 4-year or above
1        AL  352940110          1               Public, 4-year or above
2        AL      35801          1               Public, 4-year or above
3        AL  361173553          2    Private nonprofit, 4-year or above
4        AL      35899          1               Public, 4-year or above
5        AL  361040271          1               Public, 4-year or above
6        AL  354870180          1               Public, 4-year or above
7        AL  359021280          1               Public, 4-year or above
8        AL      35010          4                        Public, 2-year
9        AL      35044          4                        Public, 2-year
10       AL      35160          4                        Public, 2-year
11       AL      35611          1               Public, 4-year or above
12       AL  361173596          1               Public, 4-year or above
13       AL      36849          1               Public, 4-year or above
14       AL      35254          2    Private nonprofit, 4-year or above
15       AL      36869          4                        Public, 2-year
16       AL      36701          2    Private nonprofit, 4-year or above
17       AL  361161120          3   Private for-profit, 4-year or above
18       AL  363301300          4                        Public, 2-year
19       AL      36360          4                        Public, 2-year
20       AL  366151403          4                        Public, 2-year
21       AL  365072698          4                        Public, 2-year
22       AL  361093378          2    Private nonprofit, 4-year or above
23       AL  352444506          2    Private nonprofit, 4-year or above
24       AL  358051963          2    Private nonprofit, 4-year or above
25       AL  366084112          2    Private nonprofit, 4-year or above
26       AL  359020227          4                        Public, 2-year
27       AL      35951          9  Private for-profit, less-than 2-year
28       AL  363039234          4                        Public, 2-year
29       AL      36027          4                        Public, 2-year
...     ...        ...        ...                                   ...
11199    GA      30566          1               Public, 4-year or above
11200    GA      30607          1               Public, 4-year or above
11201    GA      30040          1               Public, 4-year or above
11202    GA  315335098          1               Public, 4-year or above
11203    GA  315030110          1               Public, 4-year or above
11204    TX      76541         99                       New Institution
11205    TX      76021          3   Private for-profit, 4-year or above
11206    TX      76549          1               Public, 4-year or above
11207    GA      31088          4                        Public, 2-year
11208    GA      31088          4                        Public, 2-year
11209    GA      31036          4                        Public, 2-year
11210    GA      31206          4                        Public, 2-year
11211    GA      31078          4                        Public, 2-year
11212    GA      31024          4                        Public, 2-year
11213    GA      31061          4                        Public, 2-year
11214    GA      31029          4                        Public, 2-year
11215    LA      71203          4                        Public, 2-year
11216    LA  712841740          4                        Public, 2-year
11217    LA      71254          4                        Public, 2-year
11218    LA      71295          4                        Public, 2-year
11219    LA      71220          4                        Public, 2-year
11220    LA      71273          4                        Public, 2-year
11221    LA      71241          4                        Public, 2-year
11222    LA      71292          4                        Public, 2-year
11223    PR  007162901         99                       New Institution
11224    TX      77477          9  Private for-profit, less-than 2-year
11225    PR      00680          2    Private nonprofit, 4-year or above
11226    MD      20877         99                       New Institution
11227    FL  334054813         99                       New Institution
11228    FL  327077103         99                       New Institution

       men_total    ...     LIQUOR11  WEAPON12  DRUG12  LIQUOR12  WEAPON13  \
0           2268    ...            0         3      17         0         2
1           7309    ...            1         4      45         3         1
2           7309    ...            0         0       0         0         0
3            264    ...            0         0       0         0         0
4           4136    ...            0         0       3         0         0
5           2399    ...            2         0      28         0         3
6          15763    ...            6         1     103        20         4
7          15763    ...            0         0       0         0         0
8            738    ...            0         0       0         0         0
9            738    ...            0         0       0         0         0
10           738    ...            0         0       0         0         0
11          1107    ...            0         0       0         0         0
12          1884    ...            0         0       3         0         0
13         12628    ...          121         2      32        59         2
14           643    ...            0         0       0         0         0
15           680    ...            0         0       0         0         0
16           349    ...            0         0       0         0         0
17           177    ...            0         0       0         0         0
18          1336    ...            0         0       0         0         0
19          1336    ...            0         0       0         0         0
20          1336    ...            0         0       0         0         0
21          1593    ...            0         0       1         0         1
22          1203    ...            0         0       0         0         0
23          1203    ...            0         0       0         0         0
24          1203    ...            0         0       0         0         0
25          1203    ...            0         0       0         0         0
26          2364    ...            0         0       0         0         0
27             1    ...          NaN         0       0         0         0
28          1590    ...            0         0       0         0         0
29          1590    ...            0         0       0         0         0
...          ...    ...          ...       ...     ...       ...       ...
11199       6775    ...          NaN         0       0         0         0
11200       6775    ...          NaN         0       0         0         0
11201       6775    ...          NaN       NaN     NaN       NaN         0
11202        995    ...          NaN         0       6         4         0
11203        995    ...          NaN         0       0         0         0
11204        NaN    ...          NaN       NaN     NaN       NaN         0
11205        107    ...          NaN       NaN     NaN       NaN         0
11206        893    ...          NaN       NaN     NaN       NaN         0

In [52]:
table_size = []
for i in df_list:
     table_size.append((len(i), len(i.columns)))

In [53]:
tables = zip(crime_tables, table_size)

In [56]:
tables[0:19]

[('noncampusarrest111213.xls', (11229, 24)),
 ('noncampuscrime111213.xls', (11229, 42)),
 ('noncampusdiscipline111213.xls', (11229, 24)),
 ('noncampushate111213.xlsx', (11229, 288)),
 ('oncampusarrest111213.xls', (11229, 24)),
 ('oncampuscrime111213.xls', (11229, 42)),
 ('oncampusdiscipline111213.xls', (11229, 24)),
 ('oncampushate111213.xlsx', (11229, 288)),
 ('publicpropertyarrest111213.xls', (11229, 24)),
 ('publicpropertycrime111213.xls', (11229, 42)),
 ('publicpropertydiscipline111213.xls', (11229, 24)),
 ('publicpropertyhate111213.xlsx', (11229, 288)),
 ('reportedarrest111213.xls', (11229, 24)),
 ('reportedcrime111213.xls', (11229, 42)),
 ('reporteddiscipline111213.xls', (11229, 24)),
 ('reportedhate111213.xlsx', (11229, 288)),
 ('residencehallarrest111213.xls', (11229, 24)),
 ('residencehallcrime111213.xls', (11229, 42)),
 ('residencehalldiscipline111213.xls', (11229, 24))]

In [78]:
big_frame = pd.DataFrame()

for i in df_list:
    big_frame = pd.concat([big_frame, i], axis=1)

AssertionError: length of join_axes must not be equal to 1

In [70]:
big_frame

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,VANDAL13,VANDAL_RAC13,VANDAL_REL13,VANDAL_SEX13,VANDAL_GEN13,VANDAL_DIS13,VANDAL_ETH13,FILTER11,FILTER12,FILTER13
0,100654001.000,Alabama A & M University,Main Campus,4900 MERIDIAN ST,NORMAL,AL,35762,1.000,"Public, 4-year or above",2268.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
1,100663001.000,University of Alabama at Birmingham,Main Campus,"ADMINISTRATION BLDG SUITE 1070, 701 20th Stree...",BIRMINGHAM,AL,352940110,1.000,"Public, 4-year or above",7309.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
2,100663002.000,University of Alabama at Birmingham,Huntsville Regional Medical Campus,301 Governors Drive SW,Huntsville,AL,35801,1.000,"Public, 4-year or above",7309.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
3,100690001.000,Amridge University,Main Campus,1200 TAYLOR RD,MONTGOMERY,AL,361173553,2.000,"Private nonprofit, 4-year or above",264.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
4,100706001.000,University of Alabama in Huntsville,Main Campus,301 SPARKMAN DR,HUNTSVILLE,AL,35899,1.000,"Public, 4-year or above",4136.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
5,100724001.000,Alabama State University,Main Campus,915 SOUTH JACKSON ST,MONTGOMERY,AL,361040271,1.000,"Public, 4-year or above",2399.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
6,100751001.000,The University of Alabama,Main Campus,1110 Jackson Ave,TUSCALOOSA,AL,354870180,1.000,"Public, 4-year or above",15763.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
7,100751002.000,The University of Alabama,University of Alabama Gadsden Center,P.O. Box 1280,Gadsden,AL,359021280,1.000,"Public, 4-year or above",15763.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
8,100760001.000,Central Alabama Community College,Alexander City Campus,1675 Cherokee Rd,Alexander City,AL,35010,4.000,"Public, 2-year",738.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
9,100760002.000,Central Alabama Community College,Childersburg Campus,34091 Highway 280,Childersburg,AL,35044,4.000,"Public, 2-year",738.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
10,100760003.000,Central Alabama Community College,Talladega Campus,1009 South Street East,Talladega,AL,35160,4.000,"Public, 2-year",738.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
11,100812001.000,Athens State University,Athens State University Main Campus,300 N BEATY ST,ATHENS,AL,35611,1.000,"Public, 4-year or above",1107.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
12,100830001.000,Auburn University at Montgomery,Auburn University Montgomery,7400 EAST DRIVE,MONTGOMERY,AL,361173596,1.000,"Public, 4-year or above",1884.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
13,100858001.000,Auburn University,Main Campus,107 Samford Hall,AUBURN UNIVERSITY,AL,36849,1.000,"Public, 4-year or above",12628.000,...,1.000,0.000,0.000,1.000,0.000,0.000,0.000,1.000,1.000,1.000
14,100937001.000,Birmingham Southern College,Birmingham-Southern College,900 Arkadelphia Road,Birmingham,AL,35254,2.000,"Private nonprofit, 4-year or above",643.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
15,101028001.000,Chattahoochee Valley Community College,Main Campus,2602 COLLEGE DR,PHENIX CITY,AL,36869,4.000,"Public, 2-year",680.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
16,101073001.000,Concordia College Alabama,Main Campus,1712 Broad Street,SELMA,AL,36701,2.000,"Private nonprofit, 4-year or above",349.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
17,101116001.000,South University-Montgomery,South University - Montgomery,5355 Vaughn Road,MONTGOMERY,AL,361161120,3.000,"Private for-profit, 4-year or above",177.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
18,101143001.000,Enterprise State Community College,Main Campus,600 PLAZA DR,ENTERPRISE,AL,363301300,4.000,"Public, 2-year",1336.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
19,101143002.000,Enterprise State Community College,Alabama Aviation Center - Ozark,3405 Highway 231 South,Ozark,AL,36360,4.000,"Public, 2-year",1336.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
20,101143003.000,Enterprise State Community College,Alabama Aviation Center - Mobile,1975 Avenue C,Mobile,AL,366151403,4.000,"Public, 2-year",1336.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
21,101161001.000,James H Faulkner State Community College,Main Campus,1900 US HWY 31 S,Bay Minette,AL,365072698,4.000,"Public, 2-year",1593.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
22,101189001.000,Faulkner University,Main Campus,5345 ATLANTA HWY,MONTGOMERY,AL,361093378,2.000,"Private nonprofit, 4-year or above",1203.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
23,101189002.000,Faulkner University,FAULKNER UNIVERSITY-BIRMINGHAM,2200 RIVERCHASE CENTER,BIRMINGHAM,AL,352444506,2.000,"Private nonprofit, 4-year or above",1203.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
24,101189003.000,Faulkner University,FAULKNER UNIVERSITY-HUNTSVILLE,420 WYNN DR,HUNTSVILLE,AL,358051963,2.000,"Private nonprofit, 4-year or above",1203.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
25,101189004.000,Faulkner University,FAULKNER UNIVERSITY-MOBILE,3943 Airport Boulevard,MOBILE,AL,366084112,2.000,"Private nonprofit, 4-year or above",1203.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
26,101240001.000,Gadsden State Community College,Gadsden State Community College,PO Box 227,GADSDEN,AL,359020227,4.000,"Public, 2-year",2364.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
27,101277001.000,New Beginning College of Cosmetology,Main Campus,421 Martling Rd,Albertville,AL,35951,9.000,"Private for-profit, less-than 2-year",1.000,...,nan,nan,nan,nan,nan,nan,nan,0.000,1.000,1.000
28,101286001.000,George C Wallace State Community College-Dothan,Wallace Campus,1141 Wallace Drive,DOTHAN,AL,363039234,4.000,"Public, 2-year",1590.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
29,101286004.000,George C Wallace State Community College-Dothan,Sparks Campus,3235 South Eufaula Ave.,Eufaula,AL,36027,4.000,"Public, 2-year",1590.000,...,nan,nan,nan,nan,nan,nan,nan,1.000,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32974,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32975,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32976,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32977,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32978,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32979,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32980,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32981,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32982,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32983,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32984,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32985,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32986,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32987,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32988,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32989,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32990,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32991,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32992,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32993,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32994,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32995,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32996,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32997,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32998,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32999,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33000,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33001,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33002,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33003,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [69]:
big_frame.tail()

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,VANDAL13,VANDAL_RAC13,VANDAL_REL13,VANDAL_SEX13,VANDAL_GEN13,VANDAL_DIS13,VANDAL_ETH13,FILTER11,FILTER12,FILTER13
32999,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33000,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33001,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33002,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33003,nan,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [71]:
with open('big_frame_crime.pk1', 'w') as picklefile:
    pickle.dump('big_frame', picklefile)

In [72]:
len(big_frame)

33004

In [73]:
big_frame = big_frame.dropna(how='all')

In [84]:
print df_list[1].columns

Index([   u'UNITID_P',      u'INSTNM',      u'BRANCH',     u'Address',
              u'City',       u'State',         u'ZIP',   u'sector_cd',
       u'Sector_desc',   u'men_total', u'women_total',       u'Total',
            u'MURD11',     u'NEG_M11',    u'FORCIB11',    u'NONFOR11',
           u'ROBBE11',     u'AGG_A11',    u'BURGLA11',     u'VEHIC11',
           u'ARSON11',      u'MURD12',     u'NEG_M12',    u'FORCIB12',
          u'NONFOR12',     u'ROBBE12',     u'AGG_A12',    u'BURGLA12',
           u'VEHIC12',     u'ARSON12',      u'MURD13',     u'NEG_M13',
          u'FORCIB13',    u'NONFOR13',     u'ROBBE13',     u'AGG_A13',
          u'BURGLA13',     u'VEHIC13',     u'ARSON13',    u'FILTER11',
          u'FILTER12',    u'FILTER13'],
      dtype='object')

In [85]:
test_df = pd.merge(df_list[1], df_list[2], on='UNITID_P')

In [88]:
print len(test_df)
print len(test_df.columns)

11229
65

In [90]:
print len(df_list[0])
print len(df_list[0].columns)
print len(df_list[1])
print len(df_list[1].columns)

11229
24
11229
42

So it looks like I'm doubling up on things. I merge on all the common fields.

In [94]:
common_cols = df_list[0].columns[0:12]
common_cols

Index([   u'UNITID_P',      u'INSTNM',      u'BRANCH',     u'Address',
              u'City',       u'State',         u'ZIP',   u'sector_cd',
       u'Sector_desc',   u'men_total', u'women_total',       u'Total'],
      dtype='object')

In [95]:
test_df2 = pd.merge(df_list[0], df_list[1], on=['UNITID_P','INSTNM','BRANCH','Address','City','State','ZIP','sector_cd', 'Sector_desc','men_total','women_total','Total'])

In [98]:
print len(test_df2)
print len(test_df2.columns)

11193
54

In [139]:
little_big_df = df_list[0]
for i in range(1,19):
    pd.merge(little_big_df, df_list[i], on=['UNITID_P','INSTNM','BRANCH',
                                         'Address','City','State','ZIP','sector_cd',
                                         'Sector_desc','men_total','women_total','Total'])
    print len(df_list[i].columns)

42
24
288
24
42
24
288
24
42
24
288
24
42
24
288
24
42
24

In [137]:
print type(df_list[0])

<class 'pandas.core.frame.DataFrame'>

In [134]:
print len(little_big_df)
print len(little_big_df.columns)
little_big_df.head()

11229
24

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,LIQUOR11,WEAPON12,DRUG12,LIQUOR12,WEAPON13,DRUG13,LIQUOR13,FILTER11,FILTER12,FILTER13
0,100654001,Alabama A & M University,Main Campus,4900 MERIDIAN ST,NORMAL,AL,35762,1,"Public, 4-year or above",2268.000,...,nan,0.000,0.000,0.000,0.000,0.000,0.000,1,1,1
1,100663001,University of Alabama at Birmingham,Main Campus,"ADMINISTRATION BLDG SUITE 1070, 701 20th Stree...",BIRMINGHAM,AL,352940110,1,"Public, 4-year or above",7309.000,...,0.000,nan,nan,nan,0.000,0.000,0.000,1,1,1
2,100663002,University of Alabama at Birmingham,Huntsville Regional Medical Campus,301 Governors Drive SW,Huntsville,AL,35801,1,"Public, 4-year or above",7309.000,...,nan,nan,nan,nan,nan,nan,nan,1,1,1
3,100690001,Amridge University,Main Campus,1200 TAYLOR RD,MONTGOMERY,AL,361173553,2,"Private nonprofit, 4-year or above",264.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1,1,1
4,100706001,University of Alabama in Huntsville,Main Campus,301 SPARKMAN DR,HUNTSVILLE,AL,35899,1,"Public, 4-year or above",4136.000,...,nan,nan,nan,nan,nan,nan,nan,1,1,1

In [115]:
concat_test = pd.concat(df_list[0:18], axis=1)

In [116]:
print len(concat_test)
print len(concat_test.columns)

11229
1578

In [117]:
concat_test.head()

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,FORCIB13,NONFOR13,ROBBE13,AGG_A13,BURGLA13,VEHIC13,ARSON13,FILTER11,FILTER12,FILTER13
0,100654001,Alabama A & M University,Main Campus,4900 MERIDIAN ST,NORMAL,AL,35762,1,"Public, 4-year or above",2268.000,...,2.000,0.000,1.000,1.000,7.000,0.000,1.000,1,1,1
1,100663001,University of Alabama at Birmingham,Main Campus,"ADMINISTRATION BLDG SUITE 1070, 701 20th Stree...",BIRMINGHAM,AL,352940110,1,"Public, 4-year or above",7309.000,...,1.000,0.000,0.000,0.000,0.000,0.000,0.000,1,1,1
2,100663002,University of Alabama at Birmingham,Huntsville Regional Medical Campus,301 Governors Drive SW,Huntsville,AL,35801,1,"Public, 4-year or above",7309.000,...,nan,nan,nan,nan,nan,nan,nan,1,1,1
3,100690001,Amridge University,Main Campus,1200 TAYLOR RD,MONTGOMERY,AL,361173553,2,"Private nonprofit, 4-year or above",264.000,...,nan,nan,nan,nan,nan,nan,nan,1,1,1
4,100706001,University of Alabama in Huntsville,Main Campus,301 SPARKMAN DR,HUNTSVILLE,AL,35899,1,"Public, 4-year or above",4136.000,...,2.000,0.000,0.000,2.000,4.000,0.000,0.000,1,1,1

In [118]:
concat_test.tail()

,UNITID_P,INSTNM,BRANCH,Address,City,State,ZIP,sector_cd,Sector_desc,men_total,...,FORCIB13,NONFOR13,ROBBE13,AGG_A13,BURGLA13,VEHIC13,ARSON13,FILTER11,FILTER12,FILTER13
11224,484604001,Ogle School Hair Skin Nails-Stafford,Ogle School Hair Skin Nails - Stafford,12788 Fountain Lake Circle,Stafford,TX,77477,9,"Private for-profit, less-than 2-year",nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,1
11225,484835001,Centro de Estudios Multidisciplinarios-Mayaguez,Centro de Estudios Multidisciplinarios - Mayaguez,Calle Cristy #56,Mayaguez,PR,00680,2,"Private nonprofit, 4-year or above",nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,1
11226,485087001,Regency Beauty Institute - Gaithersburg,Regency Beauty Institute,18226 Contour Road,Gaithersburg,MD,20877,99,New Institution,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,1
11227,485379001,Hollywood Institute of Beauty Careers - West P...,Hollywood Institute of Beauty Careers,7587-7599 South Dixie Highway,West Palm Beach,FL,334054813,99,New Institution,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,1
11228,485388001,Hollywood Institute of Beauty Careers - Cassel...,Hollywood Institute of Beauty Careers,1271 Semoran Boulevard,Casselberry,FL,327077103,99,New Institution,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,1

In [122]:
concat_across = pd.concat([concat_test, df_list[-1]], axis=1)

In [123]:
print len(concat_across)
print len(concat_across.columns)

11229
1866

In [124]:
with open('all_crime_vars.pk1', 'w') as picklefile:
    pickle.dump(concat_across, picklefile)

In [126]:
var_list = list(concat_across.columns)

In [127]:
var_list = set(var_list)

In [129]:
df_unique_cols = concat_across[list(var_list)]

In [130]:
print len(df_unique_cols)
print len(df_unique_cols.columns)

11229
1866

In [131]:
len(var_list)

297

In [132]:
var_list

{u'AGG_A11',
 u'AGG_A12',
 u'AGG_A13',
 u'AGG_A_DIS11',
 u'AGG_A_DIS12',
 u'AGG_A_DIS13',
 u'AGG_A_ETH11',
 u'AGG_A_ETH12',
 u'AGG_A_ETH13',
 u'AGG_A_GEN11',
 u'AGG_A_GEN12',
 u'AGG_A_GEN13',
 u'AGG_A_RAC11',
 u'AGG_A_RAC12',
 u'AGG_A_RAC13',
 u'AGG_A_REL11',
 u'AGG_A_REL12',
 u'AGG_A_REL13',
 u'AGG_A_SEX11',
 u'AGG_A_SEX12',
 u'AGG_A_SEX13',
 u'ARSON11',
 u'ARSON12',
 u'ARSON13',
 u'ARSON_DIS11',
 u'ARSON_DIS12',
 u'ARSON_DIS13',
 u'ARSON_ETH11',
 u'ARSON_ETH12',
 u'ARSON_ETH13',
 u'ARSON_GEN11',
 u'ARSON_GEN12',
 u'ARSON_GEN13',
 u'ARSON_RAC11',
 u'ARSON_RAC12',
 u'ARSON_RAC13',
 u'ARSON_REL11',
 u'ARSON_REL12',
 u'ARSON_REL13',
 u'ARSON_SEX11',
 u'ARSON_SEX12',
 u'ARSON_SEX13',
 u'Address',
 u'BRANCH',
 u'BURGLA11',
 u'BURGLA12',
 u'BURGLA13',
 u'BURGLA_DIS11',
 u'BURGLA_DIS12',
 u'BURGLA_DIS13',
 u'BURGLA_ETH11',
 u'BURGLA_ETH12',
 u'BURGLA_ETH13',
 u'BURGLA_GEN11',
 u'BURGLA_GEN12',
 u'BURGLA_GEN13',
 u'BURGLA_RAC11',
 u'BURGLA_RAC12',
 u'BURGLA_RAC13',
 u'BURGLA_REL11',
 u'BURGLA_REL12',
 u'BURGLA_REL13',
 u'BURGLA_SEX11',
 u'BURGLA_SEX12',
 u'BURGLA_SEX13',
 u'City',
 u'DRUG11',
 u'DRUG12',
 u'DRUG13',
 u'FILTER11',
 u'FILTER12',
 u'FILTER13',
 u'FORCIB11',
 u'FORCIB12',
 u'FORCIB13',
 u'FORCIB_DIS11',
 u'FORCIB_DIS12',
 u'FORCIB_DIS13',
 u'FORCIB_ETH11',
 u'FORCIB_ETH12',
 u'FORCIB_ETH13',
 u'FORCIB_GEN11',
 u'FORCIB_GEN12',
 u'FORCIB_GEN13',
 u'FORCIB_RAC11',
 u'FORCIB_RAC12',
 u'FORCIB_RAC13',
 u'FORCIB_REL11',
 u'FORCIB_REL12',
 u'FORCIB_REL13',
 u'FORCIB_SEX11',
 u'FORCIB_SEX12',
 u'FORCIB_SEX13',
 u'INSTNM',
 u'INTIM11',
 u'INTIM12',
 u'INTIM13',
 u'INTIM_DIS11',
 u'INTIM_DIS12',
 u'INTIM_DIS13',
 u'INTIM_ETH11',
 u'INTIM_ETH12',
 u'INTIM_ETH13',
 u'INTIM_GEN11',
 u'INTIM_GEN12',
 u'INTIM_GEN13',
 u'INTIM_RAC11',
 u'INTIM_RAC12',
 u'INTIM_RAC13',
 u'INTIM_REL11',
 u'INTIM_REL12',
 u'INTIM_REL13',
 u'INTIM_SEX11',
 u'INTIM_SEX12',
 u'INTIM_SEX13',
 u'LAR_T11',
 u'LAR_T12',
 u'LAR_T13',
 u'LAR_T_DIS11',
 u'LAR_T_DIS12',
 u'LAR_T_DIS13',
 u'LAR_T_ETH11',
 u'LAR_T_ETH12',
 u'LAR_T_ETH13',
 u'LAR_T_GEN11',
 u'LAR_T_GEN12',
 u'LAR_T_GEN13',
 u'LAR_T_RAC11',
 u'LAR_T_RAC12',
 u'LAR_T_RAC13',
 u'LAR_T_REL11',
 u'LAR_T_REL12',
 u'LAR_T_REL13',
 u'LAR_T_SEX11',
 u'LAR_T_SEX12',
 u'LAR_T_SEX13',
 u'LIQUOR11',
 u'LIQUOR12',
 u'LIQUOR13',
 u'MURD11',
 u'MURD12',
 u'MURD13',
 u'MURD_DIS11',
 u'MURD_DIS12',
 u'MURD_DIS13',
 u'MURD_ETH11',
 u'MURD_ETH12',
 u'MURD_ETH13',
 u'MURD_GEN11',
 u'MURD_GEN12',
 u'MURD_GEN13',
 u'MURD_RAC11',
 u'MURD_RAC12',
 u'MURD_RAC13',
 u'MURD_REL11',
 u'MURD_REL12',
 u'MURD_REL13',
 u'MURD_SEX11',
 u'MURD_SEX12',
 u'MURD_SEX13',
 u'NEG_M11',
 u'NEG_M12',
 u'NEG_M13',
 u'NEG_M_DIS11',
 u'NEG_M_DIS12',
 u'NEG_M_DIS13',
 u'NEG_M_ETH11',
 u'NEG_M_ETH12',
 u'NEG_M_ETH13',
 u'NEG_M_GEN11',
 u'NEG_M_GEN12',
 u'NEG_M_GEN13',
 u'NEG_M_RAC11',
 u'NEG_M_RAC12',
 u'NEG_M_RAC13',
 u'NEG_M_REL11',
 u'NEG_M_REL12',
 u'NEG_M_REL13',
 u'NEG_M_SEX11',
 u'NEG_M_SEX12',
 u'NEG_M_SEX13',
 u'NONFOR11',
 u'NONFOR12',
 u'NONFOR13',
 u'NONFOR_DIS11',
 u'NONFOR_DIS12',
 u'NONFOR_DIS13',
 u'NONFOR_ETH11',
 u'NONFOR_ETH12',
 u'NONFOR_ETH13',
 u'NONFOR_GEN11',
 u'NONFOR_GEN12',
 u'NONFOR_GEN13',
 u'NONFOR_RAC11',
 u'NONFOR_RAC12',
 u'NONFOR_RAC13',
 u'NONFOR_REL11',
 u'NONFOR_REL12',
 u'NONFOR_REL13',
 u'NONFOR_SEX11',
 u'NONFOR_SEX12',
 u'NONFOR_SEX13',
 u'ROBBE11',
 u'ROBBE12',
 u'ROBBE13',
 u'ROBBE_DIS11',
 u'ROBBE_DIS12',
 u'ROBBE_DIS13',
 u'ROBBE_ETH11',
 u'ROBBE_ETH12',
 u'ROBBE_ETH13',
 u'ROBBE_GEN11',
 u'ROBBE_GEN12',
 u'ROBBE_GEN13',
 u'ROBBE_RAC11',
 u'ROBBE_RAC12',
 u'ROBBE_RAC13',
 u'ROBBE_REL11',
 u'ROBBE_REL12',
 u'ROBBE_REL13',
 u'ROBBE_SEX11',
 u'ROBBE_SEX12',
 u'ROBBE_SEX13',
 u'SIM_A11',
 u'SIM_A12',
 u'SIM_A13',
 u'SIM_A_DIS11',
 u'SIM_A_DIS12',
 u'SIM_A_DIS13',
 u'SIM_A_ETH11',
 u'SIM_A_ETH12',
 u'SIM_A_ETH13',
 u'SIM_A_GEN11',
 u'SIM_A_GEN12',
 u'SIM_A_GEN13',
 u'SIM_A_RAC11',
 u'SIM_A_RAC12',
 u'SIM_A_RAC13',
 u'SIM_A_REL11',
 u'SIM_A_REL12',
 u'SIM_A_REL13',
 u'SIM_A_SEX11',
 u'SIM_A_SEX12',
 u'SIM_A_SEX13',
 u'Sector_desc',
 u'State',
 u'Total',
 u'UNITID_P',
 u'VANDAL11',
 u'VANDAL12',
 u'VANDAL13',
 u'VANDAL_DIS11',
 u'VANDAL_DIS12',
 u'VANDAL_DIS13',
 u'VANDAL_ETH11',
 u'VANDAL_ETH12',
 u'VANDAL_ETH13',
 u'VANDAL_GEN11',
 u'VANDAL_GEN12',
 u'VANDAL_GEN13',
 u'VANDAL_RAC11',
 u'VANDAL_RAC12',
 u'VANDAL_RAC13',
 u'VANDAL_REL11',
 u'VANDAL_REL12',
 u'VANDAL_REL13',
 u'VANDAL_SEX11',
 u'VANDAL_SEX12',
 u'VANDAL_SEX13',
 u'VEHIC11',
 u'VEHIC12',
 u'VEHIC13',
 u'VEHIC_DIS11',
 u'VEHIC_DIS12',
 u'VEHIC_DIS13',
 u'VEHIC_ETH11',
 u'VEHIC_ETH12',
 u'VEHIC_ETH13',
 u'VEHIC_GEN11',
 u'VEHIC_GEN12',
 u'VEHIC_GEN13',
 u'VEHIC_RAC11',
 u'VEHIC_RAC12',
 u'VEHIC_RAC13',
 u'VEHIC_REL11',
 u'VEHIC_REL12',
 u'VEHIC_REL13',
 u'VEHIC_SEX11',
 u'VEHIC_SEX12',
 u'VEHIC_SEX13',
 u'WEAPON11',
 u'WEAPON12',
 u'WEAPON13',
 u'ZIP',
 u'men_total',
 u'sector_cd',
 u'women_total'}